header {
    height: 100px;
    background-color: rgb(68, 68, 68)
}
footer {
    height: 100px;
    background-color: rgb(63, 63, 63);
    width: 75%;
    margin: 0 auto;
}
main {
    background-color: white;
    height: 75vh;
    width:75%;
    margin: 0 auto;
}
body {
    background-color: lightgray;
}